<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    <pipelines>
      <initialize>
        <processor type="Sitecore.Plugins.Alaska.Contents.Pipelines.RegisterAlaskaApi, Sitecore.Plugins.Alaska.Contents"/>
        <processor type="Sitecore.Plugins.Alaska.Contents.Pipelines.RegisterFieldAdapters, Sitecore.Plugins.Alaska.Contents">
          <adapters hint="raw:AddAdapter">
            <adapter type="Sitecore.Plugins.Alaska.Contents.Adapters.Concrete.CheckboxFieldAdapter, Sitecore.Plugins.Alaska.Contents">
              <field typeKey="Checkbox"/>
            </adapter>
            <adapter type="Sitecore.Plugins.Alaska.Contents.Adapters.Concrete.DateTimeFieldAdapter, Sitecore.Plugins.Alaska.Contents">
              <field typeKey="Date"/>
              <field typeKey="Datetime"/>
            </adapter>
            <adapter type="Sitecore.Plugins.Alaska.Contents.Adapters.Concrete.ImageFieldAdapter, Sitecore.Plugins.Alaska.Contents">
              <field typeKey="Image"/>
            </adapter>
            <adapter type="Sitecore.Plugins.Alaska.Contents.Adapters.Concrete.DecimalFieldAdapter, Sitecore.Plugins.Alaska.Contents">
              <field typeKey="Number"/>
            </adapter>
            <adapter type="Sitecore.Plugins.Alaska.Contents.Adapters.Concrete.IntFieldAdapter, Sitecore.Plugins.Alaska.Contents">
              <field typeKey="Integer"/>
            </adapter>
            <adapter type="Sitecore.Plugins.Alaska.Contents.Adapters.Concrete.LinkFieldAdapter, Sitecore.Plugins.Alaska.Contents">
              <field typeKey="General Link"/>
            </adapter>
            <adapter type="Sitecore.Plugins.Alaska.Contents.Adapters.Concrete.LinkedItemFieldAdapter, Sitecore.Plugins.Alaska.Contents">
              <field typeKey="Droplink"/>
              <field typeKey="Droptree"/>
              <field typeKey="Queryable Droptree"/>
            </adapter>
            <adapter type="Sitecore.Plugins.Alaska.Contents.Adapters.Concrete.LinkedItemsFieldAdapter, Sitecore.Plugins.Alaska.Contents">
              <field typeKey="Checklist"/>
              <field typeKey="Droplist"/>
              <field typeKey="Grouped Droplink"/>
              <field typeKey="Grouped Droplist"/>
              <field typeKey="Multilist"/>
              <field typeKey="Treelist"/>
              <field typeKey="TreelistEx"/>
              <field typeKey="Queryable Treelist"/>
            </adapter>
          </adapters>
          <settings hint="raw:SetDefaultAdapter">
            <defaultAdapter type="Sitecore.Plugins.Alaska.Contents.Adapters.Concrete.DefaultFieldAdapter, Sitecore.Plugins.Alaska.Contents" />
          </settings>
        </processor>
      </initialize>
    </pipelines>
  </sitecore>
</configuration>
